@import '~bootstrap/scss/bootstrap';


body{
    background-color: rgb(223, 223, 223) ;
}

main{
    h4{
        color:rgb(37, 8, 104);
    }
    img{
        width: 100%;
    }
    .button-home{
        color:black;
        text-decoration: none;
    }
}

.show-img{
    width: 400px;
}


